{
  "extends": ["react-app", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "trailingComma": "es5"
      }
    ]
  },
  "plugins": ["prettier"]
}
